<div class="col-md-4 {{ cls }}" data-id="{{ id }}">
	<div class="thumbnail">
		<a href="img/featured-project-pic1.png" target="_blank">
			<img class="img-responsive" src="img/featured-project-pic1.png" alt="">
			<div class="caption">
				<h4 class="project__title">{{ trans( req, uid ~ '_header' ) }}</h4>
				<p class="project__paragraph">{{ trans( req, uid ~ '_text' ) }}</p>
			</div>
		</a>
	</div>
</div>
