<div class="col-md-6 col-lg-3 {{ cls }}" data-id="{{ id }}">
	<div class="thumbnail">
		<a href="img/team-pic1.png" target="_blank"> <img src="img/team-pic1.png" alt="">
			<div class="caption team__caption">
				<h4 class="team__name">{{ trans( req, uid ~ '_name' ) }}</h4>
				<p class="team__title">{{ trans( req, uid ~ '_role' ) }}</p>
			</div>
		</a>
	</div>
</div>
