<section class="contact contact--bg">
	<div class="container">
		<div class="page-section text-center">
			<h2 class="page-section__title--white">{{ trans( req, 'contact_header' ) }}</h2>
			<p class="page-section__paragraph--white">{{ trans( req, 'contact_text' ) }}</p>
			<a class="button button--hover" href="#">{{ trans( req, 'contact_us' ) }}</a>
		</div>
	</div>
</section>
