<section class="contact-two contact-two--bg">
	<div class="container">
		<div class="page-section text-center">
			<h2 class="contact-two__title">{{ trans( req, 'contact_2_text' ) }}</h2>
			<a class="button contact-two__button button--hover" href="#">{{ trans( req, 'contact_us' ) }}</a>
		</div>
	</div>
</section>
