<section class="letsGo letsGo--bg">
	<div class="container">
		<div class="page-section page-section--small text-center">
			<h2 class="page-section__title--white page-section__title--white--less-margin">{{ trans( req, 'letsgo_header' ) }}</h2>
			<p class="page-section__paragraph page-section__paragraph--less-padding">{{ trans( req, 'letsgo_text' ) }}</p>
			<a class="button button--hover" href="#">{{ trans( req, 'lets_go' ) }}</a>
		</div>
	</div>
</section>
