<div class="container">
	<section class="price">
		<div class="page-section page-section--small text-center">
			<h2 class="page-section__title">{{ trans( req, 'pricing_header' ) }}</h2>
			<p class="page-section__paragraph">{{ trans( req, 'pricing_text' ) }}</p>
			<div class="price__panel-wrapper">
			
				{% include '../parts/collection.html.twig' with { 'type' : 'price', 'rowclass' : 'gutters-50', 'rowobjects' : 3 } %}
			
			</div>
		</div>
	</section>
</div>
