<div class="container">
	<section class="project">
		<div class="page-section">
			<div class="text-center">
				<h2 class="page-section__title">{{ trans( req, 'projects_header' ) }}</h2>
				<p class="page-section__paragraph">{{ trans( req, 'projects_text' ) }}</p>
			</div>
			
			{% include '../parts/collection.html.twig' with { 'type' : 'project', 'rowclass' : 'gutters-50', 'rowobjects' : 3 } %}
			
		</div>
	</section>
</div>
