<section class="service">
	<div class="container">
		<div class="page-section text-center">
			<h2 class="page-section__title">{{ trans( req, 'services_header' ) }}</h2>
			<p class="page-section__paragraph">{{ trans( req, 'services_text' ) }}</p>
			
			{% include '../parts/collection.html.twig' with { 'type' : 'service', 'rowclass' : 'gutters-40', 'rowobjects' : 3 } %}
				
		</div>
	</div>
</section>
