<div class="container">
	<section class="team">
		<div class="page-section text-center">
			<h2 class="page-section__title">{{ trans( req, 'team_header') }}</h2>
			<p class="page-section__paragraph">{{ trans( req, 'team_text') }}</p>
			
			{% include '../parts/collection.html.twig' with { 'type' : 'team', 'rowclass' : 'gutters-50', 'rowobjects' : 4 } %}
			
		</div>
	</section>
</div>
