{% extends 'layouts/main.html.twig' %}

{% block content %}

<div class="main-wrapper">
	{% if is_admin %}
		{% include 'parts/admin_panel.html.twig' %}
	{% endif %}

	{% include 'parts/header.html.twig' %}
	
	{% include 'parts/contact_form.html.twig' %}

	{% for section, data in sections %}
		
		{{ section( req, section, data ) }}
			<a id="{{ section }}"></a>
			{% include 'sections/' ~ section ~ '.html.twig' with { data: data } %}
		</div>
		
	{% endfor %}
	
	{% include 'parts/footer.html.twig' %}
</div>

{% endblock %}
