{% extends 'layouts/main.html.twig' %}

{% block content %}

<div class="main-wrapper">
	{% include 'parts/header.html.twig' %}

	{% for section in sections %}
	
		{% include 'sections/' ~ section ~ '.html.twig' %}
		
	{% endfor %}
	
	{% include 'parts/footer.html.twig' %}
</div>

{% endblock %}
