.admin-panel {
	position: fixed;
	background: #fee;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	border-bottom: 1px solid maroon;
}

.admin-panel > .label {
	font-weight: bold;
	color: red;
	font-size: 1.3em;
	margin: 0.35em 0;
	float: left;
}

.admin-panel > .tools {
	margin-top: 0.5em;
}

.admin-panel > .tools > span {
	cursor: pointer;
	display: inline-block;
	background: #eee;
	color: gray;
	border: 1px solid gray;
	padding: 0 0.4em;
}

.admin-panel > .tools > span:hover,
.admin-panel > .tools > span.active {
	background: white;
	color: black;
	border: 1px solid black;
}

.admin-panel > .tools > span.active {
	font-weight: Bold;
	outline: 1px solid gray;
}

.admin-panel > .tools2 {
	margin-top: 0.2em;
	float: right;
}

.admin-panel > .tools2 > a,
.admin-panel > .tools2 > span.a {
	font-weight: bold;
	font-size: 1.2em;
	cursor: pointer;
	margin-right: 1em;
}

.admin-panel > .tools2 > a:hover,
.admin-panel > .tools2 > span.a:hover {
	text-decoration: underline;
}

.admin-panel > .tools2 > .save {
	color: #0c0;
}

.admin-panel > .tools2 > .save.loading {
	color: transparent;
	background: url(/img/loading.gif) no-repeat center;
	display: inline-block;
	height: 30px;
	width: 30px;
	cursor: default;
}

.admin-panel > .tools2 > .logout {
	color: red;
}

.admin-panel > .tools2 > .disabled {
	color: silver;
	cursor: default;
}

.admin-panel > .tools2 > .disabled:hover {
	text-decoration: none;
}

.admin-panel > .tools2 > .error {
	color: red;
	margin-right: 2em;
	font-weight: bold;
}

.admin-panel .controls > div {
	display: none;
	position: absolute;
	background: rgba( 128, 128, 128, 0.1 );
	font-size: 3em;
	line-height: 1em;
	border: 1px solid silver;
	padding: 5px 0;
}

.admin-panel .controls > div > span {
	padding: 0 0.4em;
	cursor: pointer;
	opacity: 0.5;
	font-weight: bold;
}

.admin-panel .controls > div > span:hover {
	opacity: 1;
	background: white;
}

.admin-panel .controls > .collection > .add {
	color: green;
}

.admin-panel .controls > .collection > .delete {
	color: red;
}

.collection .objecttemplate {
	display: none;
	opacity: 0.5;
}

.imageblock.enabled {
	outline: 1px solid lime;
}

.objecttemplate .imageblock.enabled {
	outline: none;
}

.imageblock img {
	width: 100%;
	height: 100%;
	vertical-align: inherit;
}

.admin-panel .controls > .img {
	padding: 0;
	height: 40px;
}

.image-upload label {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url( '/img/upload-image.png' ) no-repeat center white;
	opacity: 0.5;
	cursor: pointer;
}

.image-upload label:hover {
	opacity: 1;
}

.image-upload label input {
    display: none;
}

.section .control {
	background: #fee;
	display: none;
}

.section.editing {
	outline: 1px solid #dbb;
	margin: 2em 0;
}

.section.editing .control {
	display: block;
}

.section .control .left {
	float: left;
}

.section .control .right {
	float: right;
}

.section .control .clear {
	clear: both;
}

.section.editing .control {
	padding: 0.2em 1em;
}

.section.editing .control .name {
	font-weight: bold;
	font-size: 1.2em;
}

.section.editing .control label {
	margin-top: 0.4em;
	margin-right: 2em;
}

.section.editing .control .move {
	text-decoration: underline;
	color: blue;
	margin-left: 1em;
	cursor: pointer;
}

.section.disabled {
	display: none;
}

.section.disabled.editing {
	display: block;
	opacity: 0.5;
}

ul > li.disabled {
	display: none;
}

.admin-panel .settings {
	position: fixed;
	left: 267px;
	display: none;
	top: 34px;
	bottom: 0;
	overflow-y: auto;
}

.admin-panel .settings.active {
	display: block;
}

.admin-panel .settings .inner {
	padding: 10px;
	background: #fee;
	margin-top: 6px;
	border: 1px solid maroon;
	border-top: none;
}

.admin-panel .settings table td {
	border: 1px solid silver;
	padding: 0.4em 0.6em;	
}

.admin-panel .settings table td.value > .lang {
	display: none;
}

.admin-panel .settings table td.value > .lang.active {
	display: block;
}

.admin-panel .settings table input[type="text"] {
	width: 100%;
	padding: 0 0.4em;
}

.admin-panel .settings .submit {
	padding: 0 2em;
	margin: 0 auto;
	display: block;
	font-weight: bold;
}

.admin-panel .settings .submit.disabled {
	cursor: default;
	opacity: 0.5;
}

.admin-panel .settings table td label.trans {
	display: inline-block;
	float: right;
	white-space: nowrap;
	text-align: right;
}