<div class="admin-panel">
	<span class="label">Admin mode enabled</span>
	<nav class="tools2">
		<span class="error"></span>
		<span class="a save disabled">{#Save#}</span>
		<a class="logout" href="/logout">Log out</a>
	</nav>
	<nav class="tools">
		<span data-tool="pageedit">Edit page</span>
	</nav>
	<div class="clear"></div>
	<div class="controls">
		<div class="collection">
			<span class="add">+</span>
			<span class="delete">X</span>
		</div>
		<div class="img">
			<form id="upload-photos" class="upload" method="post" action="/upload_photos" enctype="multipart/form-data">
				<div class="image-upload">
				    <label>
					    <input id="photos-input" type="file" name="photo"/>
				    </label>
				</div>
			</form>
		</div>
	</div>
</div>
